body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: "news.jpg";
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    margin: auto;
    width: 80%;
}

.result {
    margin: auto;
    width: 80%;
    border: 1px solid #ccc;
}